{% extends 'djangoapp/template.html' %}

{% block content %}

    <form action="{% url 'djangoapp:postreview' dealer_id %}" method="post">
        {% csrf_token %}
        <h3>Add Review</h3>
        
        <textarea class="form-control" name="content" id="content" rows="2" required></textarea>

        <input type="checkbox" name="purchasecheck" id="purchasecheck">
        <label for="purchasecheck">Did you buy a car?</label>
        
        <select name="car" id="car" class="form-select" required>
            {% for car in cars %}
                <option selected value={{car.pk}}>{{car.name}}-{{car.carmake.name}}-{{car.year|date:"Y"}}</option>
            {% endfor %}
        </select>
        <input class="date-own form-control" type="text" name="purchasedate" id="purchasedate">

        <button>Send</button>
    </form>

    <script type="text/javascript">
        $('.date-own').datepicker({
            format: 'mm/dd/yyyy'
        });
    </script>

{% endblock %}