{% extends 'djangoapp/template.html' %}

{% block content %}

    <form action="{% url 'djangoapp:postreview' %}" method="post">
        {% csrf_token %}
        <h3>Add Review</h3>
        
        <!-- <div>
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>
        <div>
            <label for="dealership">Dealership</label>
            <input type="number" class="form-control" id="dealership" name="dealership">
        </div>
        <div>
            <label for="review">Review</label>
            <input type="text" class="form-control" id="review" name="review">
        </div>
        <div>
            <label for="purchase"></label>
        </div> -->

        <button>Send</button>
    </form>

{% endblock %}